<div ng-controller="MainCtrl as ctrl">
    <div class="row" style="padding: 20px 0">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="New rooms name" ng-model="ctrl.context.roomname">
            </div>
            <div class="col-sm-3">
                <a href="" class="btn btn-primary" ng-click="ctrl.addRoom()">Add room</a>
            </div>
            <div class="col-sm-12">
                <br>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" ng-repeat="room in ctrl.rooms" ui-sref="room({id: room.id})">{{ room.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
