<div ng-controller="RoomCtrl as ctrl">

    <div class="col-sm-9" style="padding: 20px 0">
        <a class="btn btn-info" ui-sref="main">Back</a>
    </div>
    <div class="row" style="padding: 20px 0">
        <div class="col-sm-9">
            <h2>{{ ctrl.data.name }}</h2>
        </div>
        <div class="col-sm-9" style="max-height: 600px;overflow-y: scroll;">
            <div ng-repeat="item in ctrl.data.items">
                <h6>{{ item.nickname }}
                    <small>at: {{ item.at }}</small>
                </h6>
                <p>{{ item.message }}</p>
                <hr>
            </div>
        </div>
        <div class="col-sm-9 text-center">
            <img style="width: 200px" class="text-center" src="/chatea/assets/Spinner.gif" ng-hide="ctrl.data">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="ctrl.context.nickname" id="nickname" style="max-width:100%" placeholder="Enter nickname">
            <br>
            <textarea class="form-control" ng-model="ctrl.context.message" style="max-width:100%" placeholder="Message"></textarea>
            <br>
            <button class="btn btn-success pull-right" ng-click="ctrl.addComment()" ng-disable="!ctrl.data">Add comment</button>
        </div>
    </div>
</div>
